<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_labor_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{266,248}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,129},{266,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{270,242}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,127},{270,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,972},{218,236}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,121},{218,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1450},{236,228}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,130},{236,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,770},{262,218}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,142},{262,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,514},{266,254}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,153},{266,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{270,254}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,155},{270,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{268,254}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,155},{268,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{266,252}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,155},{266,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,258},{268,254}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,148},{268,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,256}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,140},{270,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,468},{268,252}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,134},{268,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,972},{260,236}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,123},{260,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,722},{266,248}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,129},{266,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1210},{246,238}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,120},{246,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1220},{244,240}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,117},{244,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{242,240}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,117},{242,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{248,240}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,116},{248,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1210},{244,240}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,116},{244,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,246},{220,270}}</string>
                <key>offset</key>
                <string>{22,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,85},{220,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_labor_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,990},{228,250}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,106},{228,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat_labor.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28f5784cb8bcb3b4e522fb7dd9d94aa7$</string>
            <key>textureFileName</key>
            <string>cat_labor.png</string>
        </dict>
    </dict>
</plist>
