<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_5_jump_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,260},{170,230}}</string>
                <key>offset</key>
                <string>{7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,168},{170,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_5_jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{198,254}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,132},{198,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_5_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,492},{174,224}}</string>
                <key>offset</key>
                <string>{16,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,180},{174,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_5_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{174,228}}</string>
                <key>offset</key>
                <string>{9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,173},{174,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_5_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,260},{164,230}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,168},{164,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_5_jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,544},{178,254}}</string>
                <key>offset</key>
                <string>{17,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,84},{178,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_5_jump_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{202,256}}</string>
                <key>offset</key>
                <string>{1,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,60},{202,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_5_jump_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,270}}</string>
                <key>offset</key>
                <string>{9,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,26},{174,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_5_jump_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{202,268}}</string>
                <key>offset</key>
                <string>{-1,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,2},{202,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_5_jump_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{186,246}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,92},{186,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_5_jump_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,492},{154,228}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,170},{154,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_5_jump_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,722},{164,226}}</string>
                <key>offset</key>
                <string>{9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,183},{164,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_5_jump_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,800},{178,224}}</string>
                <key>offset</key>
                <string>{15,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,181},{178,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat_5_jump.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e1abc8b01bdfda3710b4515730be157$</string>
            <key>textureFileName</key>
            <string>cat_5_jump.png</string>
        </dict>
    </dict>
</plist>
