<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_jump_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,512},{168,210}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,192},{168,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{198,246}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,143},{198,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{174,186}}</string>
                <key>offset</key>
                <string>{18,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,218},{174,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,512},{178,194}}</string>
                <key>offset</key>
                <string>{8,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,209},{178,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,512},{168,210}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,192},{168,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{188,238}}</string>
                <key>offset</key>
                <string>{20,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,110},{188,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_jump_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,724},{200,202}}</string>
                <key>offset</key>
                <string>{1,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,96},{200,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_jump_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,270},{174,240}}</string>
                <key>offset</key>
                <string>{8,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,49},{174,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_jump_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,266}}</string>
                <key>offset</key>
                <string>{-1,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,4},{206,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_jump_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{200,244}}</string>
                <key>offset</key>
                <string>{-7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,96},{200,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_jump_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,764},{156,222}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,180},{156,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_jump_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{176,208}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,200},{176,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_jump_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,212},{172,190}}</string>
                <key>offset</key>
                <string>{19,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,214},{172,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat_jump.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:449fe5d61973a7908b034877d7f77ed6$</string>
            <key>textureFileName</key>
            <string>cat_jump.png</string>
        </dict>
    </dict>
</plist>
