<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_4_jump_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,232},{168,204}}</string>
                <key>offset</key>
                <string>{7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,185},{168,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{166,264}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,123},{166,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,438},{184,194}}</string>
                <key>offset</key>
                <string>{23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,197},{184,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{178,200}}</string>
                <key>offset</key>
                <string>{12,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,190},{178,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,232},{168,204}}</string>
                <key>offset</key>
                <string>{7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,185},{168,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{220,236}}</string>
                <key>offset</key>
                <string>{-7,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,104},{220,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_jump_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{178,228}}</string>
                <key>offset</key>
                <string>{2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,85},{178,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_jump_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,270},{176,232}}</string>
                <key>offset</key>
                <string>{15,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,55},{176,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_jump_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,266}}</string>
                <key>offset</key>
                <string>{-5,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,6},{192,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_jump_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{184,244}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,91},{184,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_jump_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,504},{160,218}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,171},{160,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_jump_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,724},{166,198}}</string>
                <key>offset</key>
                <string>{11,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,197},{166,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_jump_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,204},{186,192}}</string>
                <key>offset</key>
                <string>{22,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,199},{186,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat_4_jump.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acc602648ff8b971a0fc28edf88380e3$</string>
            <key>textureFileName</key>
            <string>cat_4_jump.png</string>
        </dict>
    </dict>
</plist>
