<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ss583a0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{274,69}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {274,69}}</string>
			<key>sourceSize</key>
			<string>{274,69}</string>
		</dict>
		<key>ss583a1.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,0},{274,69}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {274,69}}</string>
			<key>sourceSize</key>
			<string>{274,69}</string>
		</dict>
		<key>ss583a2.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,0},{274,69}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {274,69}}</string>
			<key>sourceSize</key>
			<string>{274,69}</string>
		</dict>
		<key>ss583a3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,69},{274,69}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {274,69}}</string>
			<key>sourceSize</key>
			<string>{274,69}</string>
		</dict>
		<key>ss583a4.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,69},{274,69}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {274,69}}</string>
			<key>sourceSize</key>
			<string>{274,69}</string>
		</dict>
		<key>ss583a5.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,69},{274,69}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {274,69}}</string>
			<key>sourceSize</key>
			<string>{274,69}</string>
		</dict>
		<key>ss583a6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,138},{274,69}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {274,69}}</string>
			<key>sourceSize</key>
			<string>{274,69}</string>
		</dict>
		<key>ss583a7.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,138},{274,69}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {274,69}}</string>
			<key>sourceSize</key>
			<string>{274,69}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>soldiera583.png</string>
		<key>size</key>
		<string>{1024,256}</string>
		<key>textureFileName</key>
		<string>soldiera583.png</string>
	</dict>
</dict>
</plist>
