<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ss583m0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{146,68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146,68}}</string>
			<key>sourceSize</key>
			<string>{146,68}</string>
		</dict>
		<key>ss583m1.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,0},{146,68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146,68}}</string>
			<key>sourceSize</key>
			<string>{146,68}</string>
		</dict>
		<key>ss583m2.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,0},{146,68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146,68}}</string>
			<key>sourceSize</key>
			<string>{146,68}</string>
		</dict>
		<key>ss583m3.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,0},{146,68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146,68}}</string>
			<key>sourceSize</key>
			<string>{146,68}</string>
		</dict>
		<key>ss583m4.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,0},{146,68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146,68}}</string>
			<key>sourceSize</key>
			<string>{146,68}</string>
		</dict>
		<key>ss583m5.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,0},{146,68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146,68}}</string>
			<key>sourceSize</key>
			<string>{146,68}</string>
		</dict>
		<key>ss583m6.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,0},{146,68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {146,68}}</string>
			<key>sourceSize</key>
			<string>{146,68}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>soldierm583.png</string>
		<key>size</key>
		<string>{1024,128}</string>
		<key>textureFileName</key>
		<string>soldierm583.png</string>
	</dict>
</dict>
</plist>
