<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ss473a0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{200,144}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200,144}}</string>
			<key>sourceSize</key>
			<string>{200,144}</string>
		</dict>
		<key>ss473a1.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{200,144}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200,144}}</string>
			<key>sourceSize</key>
			<string>{200,144}</string>
		</dict>
		<key>ss473a2.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{200,144}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200,144}}</string>
			<key>sourceSize</key>
			<string>{200,144}</string>
		</dict>
		<key>ss473a3.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{200,144}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200,144}}</string>
			<key>sourceSize</key>
			<string>{200,144}</string>
		</dict>
		<key>ss473a4.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{200,144}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200,144}}</string>
			<key>sourceSize</key>
			<string>{200,144}</string>
		</dict>
		<key>ss473a5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,144},{200,144}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200,144}}</string>
			<key>sourceSize</key>
			<string>{200,144}</string>
		</dict>
		<key>ss473a6.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,144},{200,144}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200,144}}</string>
			<key>sourceSize</key>
			<string>{200,144}</string>
		</dict>
		<key>ss473a7.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,144},{200,144}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200,144}}</string>
			<key>sourceSize</key>
			<string>{200,144}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>soldiera473.png</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>soldiera473.png</string>
	</dict>
</dict>
</plist>
