<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ss413m0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{66,67}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66,67}}</string>
			<key>sourceSize</key>
			<string>{66,67}</string>
		</dict>
		<key>ss413m1.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,0},{66,67}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66,67}}</string>
			<key>sourceSize</key>
			<string>{66,67}</string>
		</dict>
		<key>ss413m2.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,0},{66,67}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66,67}}</string>
			<key>sourceSize</key>
			<string>{66,67}</string>
		</dict>
		<key>ss413m3.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,0},{66,67}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66,67}}</string>
			<key>sourceSize</key>
			<string>{66,67}</string>
		</dict>
		<key>ss413m4.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,0},{66,67}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66,67}}</string>
			<key>sourceSize</key>
			<string>{66,67}</string>
		</dict>
		<key>ss413m5.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,0},{66,67}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66,67}}</string>
			<key>sourceSize</key>
			<string>{66,67}</string>
		</dict>
		<key>ss413m6.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,0},{66,67}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {66,67}}</string>
			<key>sourceSize</key>
			<string>{66,67}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>soldierm413.png</string>
		<key>size</key>
		<string>{1024,128}</string>
		<key>textureFileName</key>
		<string>soldierm413.png</string>
	</dict>
</dict>
</plist>
