<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ss493a0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{84,79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84,79}}</string>
			<key>sourceSize</key>
			<string>{84,79}</string>
		</dict>
		<key>ss493a1.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,0},{84,79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84,79}}</string>
			<key>sourceSize</key>
			<string>{84,79}</string>
		</dict>
		<key>ss493a2.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,0},{84,79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84,79}}</string>
			<key>sourceSize</key>
			<string>{84,79}</string>
		</dict>
		<key>ss493a3.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,0},{84,79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84,79}}</string>
			<key>sourceSize</key>
			<string>{84,79}</string>
		</dict>
		<key>ss493a4.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,0},{84,79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84,79}}</string>
			<key>sourceSize</key>
			<string>{84,79}</string>
		</dict>
		<key>ss493a5.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,0},{84,79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84,79}}</string>
			<key>sourceSize</key>
			<string>{84,79}</string>
		</dict>
		<key>ss493a6.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,0},{84,79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84,79}}</string>
			<key>sourceSize</key>
			<string>{84,79}</string>
		</dict>
		<key>ss493a7.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,0},{84,79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {84,79}}</string>
			<key>sourceSize</key>
			<string>{84,79}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>soldiera493.png</string>
		<key>size</key>
		<string>{1024,128}</string>
		<key>textureFileName</key>
		<string>soldiera493.png</string>
	</dict>
</dict>
</plist>
