<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>yellow.plist/0.png</key>
		<dict>
			<key>frame</key>
			<string>{{83, 0},{35, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 32}}</string>
			<key>sourceSize</key>
			<string>{35,32}</string>
		</dict>
		<key>yellow.plist/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{118, 0},{15, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {15, 32}}</string>
			<key>sourceSize</key>
			<string>{15,32}</string>
		</dict>
		<key>yellow.plist/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{16, 0},{33, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {33, 32}}</string>
			<key>sourceSize</key>
			<string>{33,32}</string>
		</dict>
		<key>yellow.plist/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{49, 0},{34, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 32}}</string>
			<key>sourceSize</key>
			<string>{34,32}</string>
		</dict>
		<key>yellow.plist/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{202, 0},{35, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 32}}</string>
			<key>sourceSize</key>
			<string>{35,32}</string>
		</dict>
		<key>yellow.plist/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{237, 0},{34, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 32}}</string>
			<key>sourceSize</key>
			<string>{34,32}</string>
		</dict>
		<key>yellow.plist/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{133, 0},{34, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 32}}</string>
			<key>sourceSize</key>
			<string>{34,32}</string>
		</dict>
		<key>yellow.plist/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{167, 0},{35, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {35, 32}}</string>
			<key>sourceSize</key>
			<string>{35,32}</string>
		</dict>
		<key>yellow.plist/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{271, 0},{34, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {34, 32}}</string>
			<key>sourceSize</key>
			<string>{34,32}</string>
		</dict>
		<key>yellow.plist/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{305, 0},{36, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 32}}</string>
			<key>sourceSize</key>
			<string>{36,32}</string>
		</dict>
		<key>yellow.plist/minus.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0},{16, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {16, 32}}</string>
			<key>sourceSize</key>
			<string>{16,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>yellow.png</string>
		<key>size</key>
		<string>{512,32}</string>
		<key>textureFileName</key>
		<string>yellow.png</string>
	</dict>
</dict>
</plist>
