<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{324,388}}</string>
                <key>offset</key>
                <string>{-19,186}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,4},{324,388}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>build4_shadow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,448}}</string>
                <key>offset</key>
                <string>{-55,157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,3},{642,448}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>build4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:102c7235117b2bad3fbb0eec8d9626f4$</string>
            <key>textureFileName</key>
            <string>build4.png</string>
        </dict>
    </dict>
</plist>
