<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,76},{92,56}}</string>
                <key>offset</key>
                <string>{68,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,315},{92,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1044},{114,70}}</string>
                <key>offset</key>
                <string>{65,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,301},{114,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{128,102}}</string>
                <key>offset</key>
                <string>{63,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,270},{128,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,170},{52,40}}</string>
                <key>offset</key>
                <string>{55,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,251},{52,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{72,58}}</string>
                <key>offset</key>
                <string>{53,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,236},{72,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1926},{88,80}}</string>
                <key>offset</key>
                <string>{48,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,213},{88,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,264},{316,260}}</string>
                <key>offset</key>
                <string>{-28,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,203},{316,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{316,260}}</string>
                <key>offset</key>
                <string>{-28,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,203},{316,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,784},{316,258}}</string>
                <key>offset</key>
                <string>{-28,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,205},{316,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,526},{316,258}}</string>
                <key>offset</key>
                <string>{-28,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,206},{316,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{316,258}}</string>
                <key>offset</key>
                <string>{-28,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,205},{316,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{316,260}}</string>
                <key>offset</key>
                <string>{-28,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,203},{316,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{316,260}}</string>
                <key>offset</key>
                <string>{-28,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,203},{316,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,260}}</string>
                <key>offset</key>
                <string>{-28,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,203},{316,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,524},{316,258}}</string>
                <key>offset</key>
                <string>{-28,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,205},{316,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,264},{316,258}}</string>
                <key>offset</key>
                <string>{-28,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,206},{316,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,786},{314,284}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,157},{314,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1072},{314,282}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,160},{314,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1356},{314,280}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,162},{314,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1638},{314,278}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,164},{314,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{314,280}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,162},{314,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{314,282}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,160},{314,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{314,284}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,157},{314,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1044},{314,282}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,160},{314,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1328},{314,280}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,162},{314,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>car_lt_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1638},{314,278}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,164},{314,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>car.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfe8352df4dc3e965992d1cb7d51fdc4$</string>
            <key>textureFileName</key>
            <string>car.png</string>
        </dict>
    </dict>
</plist>
