<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_smoke_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,356},{84,62}}</string>
                <key>offset</key>
                <string>{-11,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,157},{84,62}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>cat_smoke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,420},{106,86}}</string>
                <key>offset</key>
                <string>{-7,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,134},{106,86}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>cat_smoke_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,114}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,44},{180,114}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>cat_smoke_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{176,116}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,37},{176,116}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>cat_smoke_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,116},{130,84}}</string>
                <key>offset</key>
                <string>{-16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,33},{130,84}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>cat_smoke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,202},{128,98}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,114},{128,98}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>cat_smoke_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{144,112}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,92},{144,112}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>cat_smoke_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{152,114}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,83},{152,114}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>cat_smoke_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,302},{158,116}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,76},{158,116}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>cat_smoke_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{162,118}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,70},{162,118}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>cat_smoke_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,234},{170,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,63},{170,120}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>cat_smoke_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,114},{176,118}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,56},{176,118}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>cat_smoke_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,110}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,50},{180,110}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat_smoke.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e722d220331906827678dc12cfce6e3f$</string>
            <key>textureFileName</key>
            <string>cat_smoke.png</string>
        </dict>
    </dict>
</plist>
