<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_lb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{190,220}}</string>
                <key>offset</key>
                <string>{13,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,201},{190,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1192},{176,214}}</string>
                <key>offset</key>
                <string>{18,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,204},{176,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1364},{170,210}}</string>
                <key>offset</key>
                <string>{17,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,203},{170,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1372},{166,210}}</string>
                <key>offset</key>
                <string>{15,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,198},{166,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1370},{160,208}}</string>
                <key>offset</key>
                <string>{12,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,195},{160,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{154,200}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,201},{154,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1702},{152,200}}</string>
                <key>offset</key>
                <string>{8,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,205},{152,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1540},{160,206}}</string>
                <key>offset</key>
                <string>{11,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,203},{160,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{182,216}}</string>
                <key>offset</key>
                <string>{9,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,198},{182,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{206,222}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,194},{206,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1000},{176,220}}</string>
                <key>offset</key>
                <string>{8,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,200},{176,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,600},{188,224}}</string>
                <key>offset</key>
                <string>{3,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,199},{188,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,574},{204,226}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,199},{204,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,358},{214,230}}</string>
                <key>offset</key>
                <string>{-1,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,197},{214,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{216,232}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,195},{216,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,178},{214,230}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,200},{214,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{208,228}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,201},{208,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,184},{200,228}}</string>
                <key>offset</key>
                <string>{8,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,199},{200,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,604},{186,224}}</string>
                <key>offset</key>
                <string>{13,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,198},{186,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_lt_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1000},{178,218}}</string>
                <key>offset</key>
                <string>{11,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,197},{178,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1704},{158,198}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,192},{158,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1370},{158,198}}</string>
                <key>offset</key>
                <string>{3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,195},{158,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1532},{174,206}}</string>
                <key>offset</key>
                <string>{8,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,193},{174,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1178},{192,216}}</string>
                <key>offset</key>
                <string>{8,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,189},{192,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,792},{206,220}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,185},{206,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,994},{196,220}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,190},{196,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1180},{182,214}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,195},{182,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{170,208}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,194},{170,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1536},{168,206}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,190},{168,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1570},{160,206}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,185},{160,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,386},{212,226}}</string>
                <key>offset</key>
                <string>{-20,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,190},{212,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,790},{202,222}}</string>
                <key>offset</key>
                <string>{-23,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,191},{202,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{190,224}}</string>
                <key>offset</key>
                <string>{-26,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,189},{190,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{180,232}}</string>
                <key>offset</key>
                <string>{-27,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,189},{180,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{174,240}}</string>
                <key>offset</key>
                <string>{-24,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,188},{174,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,246}}</string>
                <key>offset</key>
                <string>{-20,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,191},{168,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{166,246}}</string>
                <key>offset</key>
                <string>{-18,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,191},{166,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,170},{186,238}}</string>
                <key>offset</key>
                <string>{-18,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,190},{186,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,394},{208,226}}</string>
                <key>offset</key>
                <string>{-16,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,189},{208,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_rt_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,780},{218,222}}</string>
                <key>offset</key>
                <string>{-18,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,188},{218,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat_walk.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ed5bfa768cfadfdd0c8028611d82a46$</string>
            <key>textureFileName</key>
            <string>cat_walk.png</string>
        </dict>
    </dict>
</plist>
