<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_4_lb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,916},{186,212}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,184},{186,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{186,208}}</string>
                <key>offset</key>
                <string>{1,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,186},{186,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1272},{182,206}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,184},{182,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1456},{170,202}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,183},{170,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1460},{154,202}}</string>
                <key>offset</key>
                <string>{-14,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,181},{154,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1698},{154,200}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,185},{154,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1606},{156,200}}</string>
                <key>offset</key>
                <string>{-15,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,186},{156,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1450},{154,202}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,184},{154,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1120},{166,208}}</string>
                <key>offset</key>
                <string>{-8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,182},{166,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,940},{178,212}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,180},{178,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{162,246}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,157},{162,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{162,242}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,162},{162,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,366},{170,236}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,161},{170,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,538},{186,230}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,157},{186,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,166},{198,238}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,154},{198,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,322},{202,236}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,160},{202,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,548},{200,228}}</string>
                <key>offset</key>
                <string>{13,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,164},{200,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,726},{196,226}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,160},{196,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{186,230}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,156},{186,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_lt_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{170,244}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,150},{170,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1496},{156,200}}</string>
                <key>offset</key>
                <string>{14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,185},{156,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1294},{156,200}}</string>
                <key>offset</key>
                <string>{14,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,186},{156,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1294},{154,202}}</string>
                <key>offset</key>
                <string>{15,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,184},{154,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1104},{166,208}}</string>
                <key>offset</key>
                <string>{7,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,183},{166,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,924},{178,212}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,180},{178,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,750},{188,212}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,184},{188,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1104},{188,210}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,186},{188,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{180,206}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,184},{180,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1288},{170,202}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,183},{170,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1474},{154,202}}</string>
                <key>offset</key>
                <string>{14,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,181},{154,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,174},{202,236}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,160},{202,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,526},{200,232}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,162},{200,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{196,226}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,160},{196,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{186,232}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,153},{186,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{170,244}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,150},{170,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,248}}</string>
                <key>offset</key>
                <string>{7,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,156},{154,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,166},{154,244}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,161},{154,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,378},{168,236}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,162},{168,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,728},{186,228}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,159},{186,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_4_rt_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{198,236}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,155},{198,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat_4_walk.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0363f7455243bee0ebdc8e0dde8d41b7$</string>
            <key>textureFileName</key>
            <string>cat_4_walk.png</string>
        </dict>
    </dict>
</plist>
