<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_6_jump_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,450},{158,194}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,195},{158,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_6_jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{172,222}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,152},{172,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_6_jump_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{178,186}}</string>
                <key>offset</key>
                <string>{26,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,204},{178,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_6_jump_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,646},{172,184}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,205},{172,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_6_jump_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,450},{158,194}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,195},{158,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_6_jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,692},{184,218}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,121},{184,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_6_jump_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,468},{178,206}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,107},{178,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_6_jump_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{166,220}}</string>
                <key>offset</key>
                <string>{5,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,66},{166,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_6_jump_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,240}}</string>
                <key>offset</key>
                <string>{-1,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,29},{190,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_6_jump_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{182,222}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,109},{182,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_6_jump_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{168,204}}</string>
                <key>offset</key>
                <string>{-15,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,185},{168,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_6_jump_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,244},{170,204}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,191},{170,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>cat_6_jump_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,208},{178,192}}</string>
                <key>offset</key>
                <string>{27,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,198},{178,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat_6_jump.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1964580b59806006fb1886a4af7466e5$</string>
            <key>textureFileName</key>
            <string>cat_6_jump.png</string>
        </dict>
    </dict>
</plist>
