<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile17.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,174},{340,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,170}}</string>
                <key>sourceSize</key>
                <string>{340,170}</string>
            </dict>
            <key>tile18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{340,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,170}}</string>
                <key>sourceSize</key>
                <string>{340,170}</string>
            </dict>
            <key>tile19.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{340,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,170}}</string>
                <key>sourceSize</key>
                <string>{340,170}</string>
            </dict>
            <key>tile21.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{326,232}}</string>
                <key>offset</key>
                <string>{-67,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,53},{326,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tile22.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,236},{310,298}}</string>
                <key>offset</key>
                <string>{-101,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,79},{310,298}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tile23.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,566},{288,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,218}}</string>
                <key>sourceSize</key>
                <string>{288,218}</string>
            </dict>
            <key>tile24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{302,298}}</string>
                <key>offset</key>
                <string>{-105,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{302,298}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tile25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,170}}</string>
                <key>sourceSize</key>
                <string>{340,170}</string>
            </dict>
            <key>tile26.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,786},{206,218}}</string>
                <key>offset</key>
                <string>{-44,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,102},{206,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tile27.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,346},{206,218}}</string>
                <key>offset</key>
                <string>{-153,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tile28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{202,108}}</string>
                <key>offset</key>
                <string>{-84,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,38},{202,108}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>tile29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{202,108}}</string>
                <key>offset</key>
                <string>{-84,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,38},{202,108}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>tile30.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,346},{156,82}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,42},{156,82}}</string>
                <key>sourceSize</key>
                <string>{340,170}</string>
            </dict>
            <key>tile31.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,836},{202,108}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,27},{202,108}}</string>
                <key>sourceSize</key>
                <string>{340,170}</string>
            </dict>
            <key>tile32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{208,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,30},{208,110}}</string>
                <key>sourceSize</key>
                <string>{340,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>myTile3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6187eed8fc6afd1fe7759dfc2d9df6bf$</string>
            <key>textureFileName</key>
            <string>myTile3.png</string>
        </dict>
    </dict>
</plist>
