<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>s583e0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{131,37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {131,37}}</string>
			<key>sourceSize</key>
			<string>{131,37}</string>
		</dict>
		<key>s583e1.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,0},{131,37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {131,37}}</string>
			<key>sourceSize</key>
			<string>{131,37}</string>
		</dict>
		<key>s583e2.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,0},{131,37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {131,37}}</string>
			<key>sourceSize</key>
			<string>{131,37}</string>
		</dict>
		<key>s583e3.png</key>
		<dict>
			<key>frame</key>
			<string>{{393,0},{131,37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {131,37}}</string>
			<key>sourceSize</key>
			<string>{131,37}</string>
		</dict>
		<key>s583e4.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,0},{131,37}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {131,37}}</string>
			<key>sourceSize</key>
			<string>{131,37}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>s583e.png</string>
		<key>size</key>
		<string>{1024,64}</string>
		<key>textureFileName</key>
		<string>s583e.png</string>
	</dict>
</dict>
</plist>
